<div class="mt-4">
  <div class="row">
    <div class="col-lg-3 text-center mt-4">
      <button class="learn">READ</button>
    </div>
    <div class="col-lg-9">
      <h2>{{blog.title}}</h2>
      <img src="{{blog.image}}" alt="" />
      <p>{{blog.description}}</p>
    </div>
  </div>
</div>
