<div class="mt-4">
  <div class="row">
    <div class="col-lg-3">
      <button>TEST</button>
    </div>
    <div class="col-lg-9">
      <h2>{{blog.title}}</h2>
      <img src="{{blog.image}}" alt="" width="560" height="315" />
      <p>{{blog.content}}</p>
    </div>
  </div>
</div>
